Repository hack4impact-uiuc/h4i-recruitment, pull requests merged in 2019-06, with the labels that each got.

#252 Event backend
  backend/src/api/events.js
  backend/src/api/index.js
  backend/src/middleware/errorWrap.js
  backend/src/models/attendee.js
  backend/src/models/event.js
  backend/src/models/index.js
  backend/src/routes.js
Labels: Event Tracking, In Review

#259 Event overview page
  backend/src/api/events.js
  backend/src/models/event.js
  frontend/src/components/actionButton.js
  frontend/src/components/nav.js
  frontend/src/pages/eventOverview.js
  frontend/src/pages/interviewportal.js
  frontend/src/static/style.css
  frontend/src/utils/api.js
  frontend/yarn.lock
Labels: Event Tracking

#266 Fix backend tests timeout
  backend/package.json
  backend/tests/interview.test.js
  backend/tests/matches.test.js
Labels: work in progress
