Repository hack4impact-uiuc/h4i-recruitment, pull requests merged in 2019-07, with the labels that each got.

#271 Event backend tests
  backend/package.json
  backend/tests/candidates.test.js
  backend/tests/events.test.js
  backend/tests/interview.test.js
  backend/tests/matches.test.js
  backend/tests/mongo_utils.js
Labels: Event Tracking

#278 Attendee Backend
  backend/src/api/attendees.js
  backend/src/api/events.js
  backend/src/api/index.js
  backend/src/models/attendee.js
  backend/src/models/event.js
  backend/src/models/index.js
  backend/src/routes.js
Labels: Event Tracking

#282 Event check-in backend
  backend/package.json
  backend/src/api/events.js
  backend/src/models/attendee.js
  backend/src/models/event.js
  backend/src/utils/utils.js
  backend/yarn.lock
Labels: Event Tracking

#289 slight styling changes and comment improvements
  frontend/src/components/comments/addCommentsModal.js
  frontend/src/components/comments/commentBox.js
  frontend/src/pages/candidate.js
  frontend/src/pages/login.js
  frontend/src/static/style.css
  frontend/src/utils/core.js
Labels: Priority: Low

#290 Added Reminder in interview notes + added support for customized page titles
  frontend/package.json
  frontend/src/components/candidates/candidateInterviewsModal.js
  frontend/src/components/head.js
  frontend/src/pages/_app.js
  frontend/src/pages/analytics.js
  frontend/src/pages/candidate.js
  frontend/src/pages/dashboard.js
  frontend/src/pages/eventOverview.js
  frontend/src/pages/facemash.js
  frontend/src/pages/index.js
  frontend/src/pages/interview.js
  frontend/src/pages/interviewlist.js
  frontend/src/pages/interviewportal.js
  frontend/src/pages/interviewschedule.js
  frontend/src/pages/rounds.js
  frontend/src/pages/stats.js
  frontend/src/pages/table.js
  frontend/yarn.lock
Labels: Priority: Low

#283 Workspace endpoint
  backend/src/api/candidates.js
  backend/src/api/cycle.js
  backend/src/api/index.js
  backend/src/models/cycle.js
  backend/src/models/index.js
  backend/src/routes.js
  backend/tests/cycle.test.js
Labels: Recruitment Cycles

#291 Fix event check-in backend naming error
  backend/src/api/events.js
Labels: Event Tracking

#302 Code Sanitization
  README.md
  backend/README.md
  frontend/.prettierrc.json
  frontend/README.md
  frontend/src/actions/actionCreators.js
  frontend/src/components/actionButton.js
  frontend/src/components/candidateCard.js
  frontend/src/components/candidateDropdown.js
  frontend/src/components/candidateList.js
  frontend/src/components/candidateStatus.js
  frontend/src/components/candidates/candidateBox.js
  frontend/src/components/candidates/candidateInterviewsModal.js
  frontend/src/components/comments/addCommentsModal.js
  frontend/src/components/comments/commentBox.js
  frontend/src/components/errorMessage.js
  frontend/src/components/facemashProfile.js
  frontend/src/components/filterComponent.js
  frontend/src/components/interviewCard.js
  frontend/src/components/interviewDetails.js
  frontend/src/components/interviewSectionModular.js
  frontend/src/components/nav.js
  frontend/src/components/pieComponent.js
  frontend/src/components/roundDropdown.js
  frontend/src/data/README.md
  frontend/src/pages/_app.js
  frontend/src/pages/analytics.js
  frontend/src/pages/candidate.js
  frontend/src/pages/dashboard.js
  frontend/src/pages/eventOverview.js
  frontend/src/pages/facemash.js
  frontend/src/pages/index.js
  frontend/src/pages/interview.js
  frontend/src/pages/interviewlist.js
  frontend/src/pages/interviewportal.js
  frontend/src/pages/interviewschedule.js
  frontend/src/pages/login.js
  frontend/src/pages/rounds.js
  frontend/src/pages/stats.js
  frontend/src/pages/table.js
Labels: Priority: Low

#300 Display event attendees and link them to candidate page
  backend/src/api/attendees.js
  backend/src/api/events.js
  backend/src/models/attendee.js
  frontend/src/pages/event.js
  frontend/src/pages/eventOverview.js
  frontend/src/static/style.css
  frontend/src/utils/api.js
  frontend/yarn.lock
Labels: Event Tracking

#308 Create separate modal component for use on event pages
  frontend/src/components/eventsModal.js
  frontend/src/pages/eventOverview.js
  frontend/src/utils/formFields.js
Labels: Event Tracking

#319 Workspaces API Layer
  backend/src/api/index.js
  backend/src/api/workspaces.js
  backend/src/models/workspace.js
  backend/src/routes.js
  backend/tests/artifacts/test-keys.json
  backend/tests/workspaces.test.js
Labels: Recruitment Cycles
